@font-face {
  font-family: 'HelveticaNeue-Bold';
  src: url('FontsFree-Net-HelveticaNeueBold.ttf')  format('truetype')
}
@font-face {
  font-family: 'HelveticaNeue';
  src: url('HelveticaNeue Thin.ttf')  format('truetype')
}
@font-face {
  font-family: 'HelveticaNeuem';
  src: url('HelveticaNeue Medium.ttf')  format('truetype')
}
*{
    padding:0;
    margin:0
}
h2{
    font-size:52px
}
.numberBlocks .numbers span{
    font-size:40px
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-family: HelveticaNeue-Bold;
    font-size: 16px;
    color: #9B9B9B;
    letter-spacing: 2px;
    line-height: 18px;
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    font-family: HelveticaNeue-Bold;
    font-size: 16px;
    color: #9B9B9B;
    letter-spacing: 2px;
    line-height: 18px;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    font-family: HelveticaNeue-Bold;
    font-size: 16px;
    color: #9B9B9B;
    letter-spacing: 2px;    
  }
.containerBlock{
    width: 980px;
    margin:0 auto;
    padding-top: 20px;    
}
#header{
    height: 65px;
    background-color: #004A80;
    padding-left: 15px; 
    padding-right: 15px;  
}
#content{
    background-color: #004A80;
    padding:0 0 57px 0;
}
#rightButtons{
    float:right;
}
#rightButtons img{
    width:23px;
    height:23px;
    margin:0 5px;
    cursor: pointer;
}
#noResults h2{
    font-size: 1em !important;
    color: white !important;
    background: #f6bc25;
    border-radius: 0.3em;
    padding: 1em;
    /* display: inline-block; */
    text-align: center;
    max-width: 300px;
    margin: 0 auto;

}
#logo{
    cursor: pointer;
}
.left, .right{
    float:left
}
.left{
    width:15%
}
.right{
    width:85%
}


/* Content starts */
#content .containerBlock{
    background-color: #004A80;
    color:white;
    text-align: center;
    font-family: HelveticaNeue-Bold
}
#content .containerBlock p{
    font-family: HelveticaNeue;
    padding-left: 25px;
    padding-right: 25px;
}
#content h2{
    font-size:52px;
    line-height: 64px;
    margin-bottom: 15px;
    font-size: 3.5vw;
    margin-bottom: 1.5vh;
    line-height: inherit;
} 
#content p{
    font-size: 24px;
    color: white;
    letter-spacing: 0;
    text-align: center;
    line-height: 29px;
    font-size: 1.66vw;
    line-height: 4vh;
}  
#content p span{
    color:#F6BC25;
    font-family: HelveticaNeue-Bold
}         
#searchBar{
    background: #FFFFFF;
    box-shadow: inset 0 -1px 4px 0 rgba(0,0,0,0.20);
    border-radius: 3px;
    border-radius: 3px;
    /*width:780px;*/
    width:79%;
    height:70px;
    outline:none;
    border:none;
    font-family: HelveticaNeue-Bold; /*HelveticaNeue-Bold*/
    font-size: 16px;
    color: #9B9B9B;
    letter-spacing: 2px;
    line-height: 18px;
    padding: 0 15px;
    box-sizing: border-box;
    padding: 25px 15px 5px 13px;
    padding: 25px 15px 25px 13px;
    float: left;
    margin-left: -37px;
    margin-left: -185px;
    margin-left: -187px;
}
.searchInputfocus{
    background: #FFFFFF !important;
    border: 2px solid #F6BC25 !important;
    box-shadow: inset 0 -1px 4px 0 rgba(0,0,0,0.20) !important;
    border-radius: 3px !important;
}
.searchInputError{
    background: #FFFFFF !important;
    border: 2px solid #DC0015 !important;
    box-shadow: inset 0 -1px 4px 0 rgba(0,0,0,0.20) !important;
    border-radius: 3px !important;
}
button{
    width:180px;
    height:70px;
    background-image: linear-gradient(225deg, #F2DA56 0%, #F6BC25 100%);
    box-shadow: 0 3px 0 0 #A6953B, inset 0 1px 0 0 #FFFFFF;
    border-radius: 6px;
    border-radius: 6px;
    border:none;
    margin-left:15px;
    font-size: 24px;
    color: #004A80;
    letter-spacing: 1px;
    text-align: center;
    cursor:pointer;
}
button:hover{
    background: #F2DA56;
    box-shadow: 0 3px 0 0 #A6953B, inset 0 1px 0 0 #FFFFFF;
    border-radius: 6px;
    border-radius: 6px;
}
button:active{
    background: #F6BC25;
    box-shadow: 0 3px 0 0 #A6953B, inset 0 1px 0 0 #FFFFFF;
    border-radius: 6px;
    border-radius: 6px;
}








/*
input:focus::-webkit-input-placeholder {
    color: rgb(36, 25, 27);
    position:relative;
    top: -20px;
    font-size: 10px;
    visibility: visible;
  }
  ::-moz-placeholder 
    color: pink;
  }
  :-ms-input-placeholder {
    color: pink;
  }
  :-moz-placeholder {
    color: pink;
  }
  */

  form div{
      width:100%;
  }


  form div label{
    left:  15px;
    top: 28px;
    top: 15px;
    position:relative;
    color: silver;
    font-size: 12px;
    float: left;
  }
  .focusText{
    left: 15px;
    top: 10px !important;  
  }

#emailLabel{
    visibility: hidden;
}
.labelVisibility{
    visibility: visible !important;
}
.inputPosition{
    padding: 25px 15px 5px 13px !important;    
}

.inputPositionHorizontal{
    margin-left: -37px !important;
}









#formHint{
    font-family: HelveticaNeue-Bold; /*HelveticaNeue-Bold*/
    font-size: 16px;
    color: #F6BC25;
    letter-spacing: 0;
    text-align:left;
    display:block;
    font-size: calc(0.8em + 0.33vw);
}
#formHint img{
    margin-right:5px;    
    width:15px;
}
form{
    margin:29px 0;
    margin:3vw 0;
    background: rgba(0,0,0,0.1); /* To test */
}


/* Content ends */


/* Content2 starts */
#content2{
    background-image: linear-gradient(0deg, #E6E6E6 0%, #FFFFFF 100%);
    padding-left: 25px;
    padding-right: 25px;
}
#content2 .containerBlock h2{
    font-family: HelveticaNeue-Bold; /*HelveticaNeue-Bold*/
    font-size: 52px;
    color: #004A80;
    letter-spacing: 0;
    text-align: center;
    line-height: 70px;
    margin-bottom:20px;
    font-size: 3.26vw;
    margin-bottom: 2.5vh;
}
.content2Tag{
    font-family: HelveticaNeue;
    font-size: 22px;
    color: #4A4A4A;
    letter-spacing: 0;
    line-height: 30px;
    -webkit-text-stroke: 0.015em;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    font-size: 1.38vw;
    line-height: 4vh;
    font-size: calc(1.2em + 0.18vw);
    font-size: calc(1.1em + 0.18vw);
    font-size: calc(1.2em + 0.18vw);
}
#services .service{
    width:50%;
    float: left;
}
#services .service .table{
    margin-bottom: 30px;
}
#services .service .numbers{
    width:90px;
    height:90px;
    border-radius: 100%;
    background-color: #004A80;
    width: 5vw;
    height: 5vw;
    
}
.userProfileImage{
    width:90px;
    height:90px;
    border-radius: 100%;
    background-color: #004A80;
    margin:0 auto;
    margin-top:25px
}
.userProfileImage img{
    width: 40px;
    margin-top: 25px;
}
#services .service .numbers span{
    font-family: HelveticaNeue-Bold; /*HelveticaNeue-Bold*/
    font-size: 48px;
    color: #F6BC25;
    letter-spacing: 0;
    text-align: center;
    line-height: 58px;
    display: block;
    padding-top: 14px;   
    padding-top: 0.5vh;
    font-size: 3vw;
    line-height: inherit;
}    
#services .service .information{
    padding:0 30px 0 20px
}
#services .service .information h4{
    font-family: HelveticaNeue-Bold; /*HelveticaNeue-Bold*/
    font-size: 22px;
    color: #004A80;
    letter-spacing: 0;
    
    font-size: 1.50vw;
} 
#services .service .information p{
    font-family: HelveticaNeue; /*HelveticaNeue-Bold*/
    font-size: 18px;
    color: #000000;
    letter-spacing: 0;
    line-height: 26px;
    margin-top: 8px; 
    font-size: 1.1vw;
    margin-top: 1vh;
    line-height: 3.5vh; 
    
    font-size: calc(1em + 0.1vw);

}
.clear{
    clear: both;
}
.content2Tag{
    margin-bottom: 40px;
}
 
 
/* Content2 ends */


/* Content3 starts */
    #content3{
        padding:25px;
    }
    #content3 .table{
        margin: 15px;
        width:100%
    }
    #content3 .table .table2{
        width:100%
    }
    #content3 .table .table2 .td{
        width:50%
    }
    #content3 .table .td{
        padding-bottom:15px;
        vertical-align: top;
    }
    #leftTable{
        width:120px;
        text-align: center;
    }
    #content3 h2{
        font-family: HelveticaNeue-Bold;
        font-size: 52px;
        color: #004A80;
        letter-spacing: 0;
        text-align: center;
        font-size: 3.5vw;
        margin-bottom: 1.5vh;
        line-height: inherit;
    }
    #content3 h3{
        font-family: HelveticaNeue-Bold;
        font-size: 2vw;
        color: #004A80;
        letter-spacing: 0;
    }
    #content3 h4{
        font-family: HelveticaNeue-Bold;
        font-size: 1.8vw;
        color: #004A80;
        letter-spacing: 0;
    }
    #rightTable div{
        padding: 2px 3px;
        vertical-align: top;
        box-sizing: border-box;
    }
    #content3 a{
        font-family: HelveticaNeue;
        font-size: 1.1vw;
        color: #004A80;
        letter-spacing: 0;
        line-height: 26px;
        display: block;
        text-decoration: none;

        
    }
    #resultP{
        margin-bottom:30px
    }
    #content3 p{
        font-family: HelveticaNeue;
        font-size: 24px;
        color: #000000;
        letter-spacing: 0;
        text-align: center;
        font-size: 1.66vw;
        line-height: 4vh;
        
    }
    #resultBlock p{
        font-family: HelveticaNeue;
        font-size: 18px;
        color: #000000;
        letter-spacing: 0;
        line-height: 26px;
        font-size: 1.13vw;
    }
    #content3 .td p{
        font-family: HelveticaNeue;
        font-size: 18px;
        color: #000000;
        letter-spacing: 0;
        line-height: 26px;
        text-align: left;
    }
    #content3 #resultBlock{
        background: #FFFFFF;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
        border-radius: 30px;
        border-radius: 30px;
    }

    #resultBlock .table{
        width:100%;
        padding:1%
    }
    #resultBlock p{
        text-align: left;
    }
    #leftTable{
        display: inline-block;
        width: 20%;
        vertical-align: top;
    }
    #rightTable{
        display: inline-block;
        width: 78%;
    }
    .multiCol div{
        width:49%;
        display: inline-block;
    }
/* Content3 ends */

/* Footer starts */
#footer{
    padding-left: 25px;
    padding-right: 25px;
    box-sizing: border-box;
    border-bottom: 1px solid #ececec;
    
}
#footer .containerBlock{
    padding:14px 0;
    font-family:  HelveticaNeue-Bold; /*HelveticaNeue-Bold*/
    font-size: 15px;
    color: #999999;
    letter-spacing: 0;
    line-height: 20px;    
}
#footer .containerBlock .footerInfo{
    width: 70%;
    float: left;
}    
#footer .containerBlock .bottomLinks{
    width: 20%;
    float: right;
    padding-top: 10px;
    text-align: center;
    display: table;
    display: table-cell;
    vertical-align: middle;   
    line-height: 50px; 
}    
#footer .containerBlock p{
    float: left;
    font-family: HelveticaNeue;
    font-size: 15px;
    color: #999999;
    letter-spacing: 0;
    line-height: 20px;
} 

#footer .bottomLinks a{
    font-family:  HelveticaNeue-Bold; /*HelveticaNeue-Bold*/
    font-size: 14px;
    color: #004A80;
    letter-spacing: 0;
    text-decoration: none;
    -webkit-text-stroke: 0.015em;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
text-rendering: optimizeLegibility !important;
-webkit-font-smoothing: antialiased !important;
    
}  
.error{
    color:red
}


.circle{
    background-color: #004A80;
    width: 5vw;
    height: 5vw;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle p{
    color: #F6BC25 !important;
    font-size: 3vw !important;
    font-family: HelveticaNeue-Bold !important;
    letter-spacing: 0 !important;
    text-align: center;
}


/* Footer ends */

/* Responsive design starts */
@media( max-width:1440px ){
    
    .circle{
        background-color: #004A80;
        width: 6vw;
        height: 6vw;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .circle p{
        color: #F6BC25 !important;
        font-size: 3vw !important;
        font-family: HelveticaNeue-Bold !important;
        letter-spacing: 0 !important;
        text-align: center;
    }
    .containerBlock{
        max-width: 1440px;  
        width: 80%;          
    }
    #searchBar{
        width:77%;
        height: calc(4.2em + 0.18vw);
    }    
    button{
        width:20%;
        height:calc(2.8em + 0.18vw);
        margin-left:2% !important;
    }
    #formBlock{        
        padding-left:25px;
        padding-right:25px;
    }
        
    #formHint{    
        padding-left: 25px;
        padding-right: 25px;
    }
    .numberBlocks .numbers span{
        font-size: 2em !important;
        line-height: 4vw !important;
    }
    #services .service .information p{
        font-family: HelveticaNeue;
        font-size: 18px;
        color: #000000;
        letter-spacing: 0;
        line-height: 26px;
    }
    #services .service .information h4{
        
        font-size:calc(0.75em + 1vmin)
    }  
    #services .service .information p{  
        font-size: 1.25vw;
        line-height: 2.0vw;
    }    
    .content2Tag{
        font-family: HelveticaNeue;        
        color: #4A4A4A;
        letter-spacing: 0;        
        font-size: 1.53vw;
        line-height: 2.09vw;
        
    }
    #content2 .containerBlock h2{
        font-size: 3.26vw;
        line-height: 5vw;
        margin-bottom:1.5vw
    }
}    
@media( max-width:768px ){
    .circle{
        background-color: #004A80;
        width: 8vw !important;
        height: 8vw !important;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .circle p{
        color: #F6BC25 !important;
        font-size: 3vw !important;
        font-family: HelveticaNeue-Bold !important;
        letter-spacing: 0 !important;
        text-align: center;
    }
    .containerBlock{
        max-width: 768px;  
        width: 100%;          
    }
    #content h2{
        font-size: 48px !important;
        color: #FFFFFF;
        letter-spacing: 0;
        text-align: center;
        font-size: 6.3vw !important;
    } 
    #content3 h2 {
        font-family: HelveticaNeue-Bold;
        font-size: 52px;
        color: #004A80;
        letter-spacing: 0;
        font-size: 6.3vw !important;
    }
    #content p{
        font-family: HelveticaNeue-Bold; /*HelveticaNeue-Bold*/
        font-size: 20px;
        color:white;
        letter-spacing: 0;
        text-align: center;
        font-size: 2.6vw;
        line-height: 3.5vw;
    } 
    #content3 p{
        font-size: 2.6vw;
        line-height: 3.5vw;
    }
    #searchBar{
        width:72%
    }    
    button{
        width:25%;
        margin-left:2% !important
    }
    #services .service .numbers{
        width: 63px;
        height: 63px;
        width: 7vw;
        height: 7vw;
    }
    #services .service .numbers span{
        font-size: 33.6px;
        line-height: 41px;
    }
    #services .service .information h4{
        font-size: 20px;
        font-size: 4vw;
    }
    
   
    .numberBlocks{
        vertical-align: top !important;
    }
    #content2 .containerBlock h2{
        font-family: HelveticaNeue-Bold;
        font-size: 48px;
        color: #004A80;
        letter-spacing: 0;
        text-align: center;
        font-size: 6vw;
        margin-bottom: 3vh;
    }
    .content2Tag{
        font-family: HelveticaNeue;
        font-size: 20px;
        color: #4A4A4A;
        letter-spacing: 0;
        font-size: 2.6vw !important;
        line-height: 3.6vw;
    }
    #services .service .information p{
        font-family: HelveticaNeue;
        font-size: 16px;
        color: #000000;
        letter-spacing: 0;
        
        font-size: 2.1vw;
        line-height: 3.2vw;
    }
    #footer .containerBlock .footerInfo{
        width:78%
    }
    #services .service .numbers span{
        padding-top: 2vh;
        font-size: 5vw !important;
        line-height: 3vw !important
        
    }  
    
    .numberBlocks .numbers span {
        font-size: 5vw !important;
        line-height: 3vw !important;
    }




    .resultP p{
        font-family: HelveticaNeue;
        font-size: 20px;
        color: #4A4A4A;
        letter-spacing: 0;
        line-height: 28px;
    }
    #resultsubBlock h3{
        font-family: HelveticaNeue-Bold;
        font-size: 20px;
        color: #004A80;
        letter-spacing: 0;
    }
    #resultsubBlock h3{
        font-family: HelveticaNeue-Bold;
        font-size: 32px;
        color: #004A80;
        letter-spacing: 0;
    }
    #resultBlock p{
        font-family: HelveticaNeue;
        font-size: 16px;
        color: #000000;
        letter-spacing: 0;
        line-height: 24px;
    }
    #resultBlock a{
        font-family: HelveticaNeue;
        font-size: 16px;
        color: #004A80;
        letter-spacing: 0;
        line-height: 24px;
    }
    #description{
        font-family: HelveticaNeue;
        font-size: 16px;
        color: #000000;
        letter-spacing: 0;
        line-height: 24px;
    }
        
}

@media( max-width:600px ){
    #leftTable{
        display:none !important
    }

    #footer .containerBlock .footerInfo{
        width:75%;
    }
    #footer .containerBlock .bottomLinks{
        width:25%
    }




    #resultP{
        font-family: HelveticaNeue;
        font-size: 20px !important;
        color: #4A4A4A;
        letter-spacing: 0;
        line-height: 28px;
    }
    .singleCol h4, .multiCol h4{
        font-family: HelveticaNeue-Bold;
        font-size: 20px !important;
        color: #004A80;
        letter-spacing: 0;
    }
    #fullname{
        font-family: HelveticaNeue-Bold;
        font-size: 32px !important;
        color: #004A80;
        letter-spacing: 0;
    }
    #resultBlock p{
        font-family: HelveticaNeue;
        font-size: 16px !important;
        color: #000000;
        letter-spacing: 0;
        line-height: 24px;
    }
    #resultBlock a{
        font-family: HelveticaNeue;
        font-size: 16px !important;
        color: #004A80;
        letter-spacing: 0;
        line-height: 24px;
    }
    #description{
        font-family: HelveticaNeue;
        font-size: 16px !important;
        color: #000000;
        letter-spacing: 0;
        line-height: 24px;
    }
    #rightTable div{
        width:100%
    }  
    .content2Tag{
        font-family: HelveticaNeue;
        font-size: 18px;
        color: #4A4A4A;
        letter-spacing: 0;
        font-size: 2.8vw !important;
        line-height: 3.8vw;
    }  
    .circle{
        background-color: #004A80;
        width: 8vw !important;
        height: 8vw !important;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .circle p{
        color: #F6BC25 !important;
        font-size: 3vw !important;
        font-family: HelveticaNeue-Bold !important;
        letter-spacing: 0 !important;
        text-align: center;
    }
    
} 
@media( max-width:540px ){
    .circle{
        background-color: #004A80;
        width: 13vw !important;
        height: 13vw !important;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .circle p{
        color: #F6BC25 !important;
        font-size: 6vw !important;
        font-family: HelveticaNeue-Bold !important;
        letter-spacing: 0 !important;
        text-align: center;
    }
    #services .service{
        width:100%
    }
    #services .service .information {
        padding: 0 0 0 20px;
    }
    #footer .containerBlock .footerInfo, #footer .containerBlock .bottomLinks{
        width:100%
    }
    #services .service .left .numbers{       
        width: 12vw !important;
        height: 12vw !important;
    }
    #services .service .numbers span {
        padding-top: 4vh;
        font-size: 1.6em !important;
        line-height: 2vh !important;
    }
}    
@media( max-width:510px ){
    #content p {
        font-family: HelveticaNeue-Bold;
        font-size: 16px;
        color: white;
        letter-spacing: 0;
        text-align: center;
        font-size: 3.2vw;
        line-height: 4.5vw;
    }
    #content3 p{
        font-size: 3.2vw !important;
        line-height: 4.5vw;
    }
    .content2Tag{
        font-family: HelveticaNeue;
        font-size: 18px;
        color: #4A4A4A;
        letter-spacing: 0;
        font-size: 2.8vw !important;
        line-height: 3.8vw;
    } 
    .table .left .circle{
        background-color: #004A80;
        width: 13vw !important;
        height: 13vw !important;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .circle p{
        color: #F6BC25 !important;
        font-size: 6vw !important;
        font-family: HelveticaNeue-Bold !important;
        letter-spacing: 0 !important;
        text-align: center;
    }
    #rightTable .td{
        width:100% !important;
        display:block !important
    }
    #searchBar{
        width:100%;
        margin-bottom: 5%;
    }    
    button{
        width:100%;
        margin-left: 0 !important;
    }
    .inputPositionHorizontal{
        margin-left: 0px !important;
        margin-top: -15px
    }
    #services .service .information p{
        font-size: 17px;
        line-height: 24px;
        font-size: 3.35vw;
        line-height: 4.8vw;
    }

    #services .service .left .numbers{       
        width: 10vw !important;
        height: 10vw !important;
        width: 50px !important;
        height: 50px !important;
    }
    #services .service .numbers span {
        padding-top: 3vh;
        font-size: 1.6em !important;
        line-height: 4vw !important;
        line-height: 25px !important;
    }
    .left{
        width:15%
    }
    .right{
        width:75%
    }  
    
    


    .resultP p{
        font-family: HelveticaNeue;
        font-size: 20px;
        color: #4A4A4A;
        letter-spacing: 0;
        line-height: 28px;
    }
    #resultsubBlock h4{
        font-family: HelveticaNeue-Bold;
        font-size: 20px;
        color: #004A80;
        letter-spacing: 0;
    }
    #fullname{
        font-family: HelveticaNeue-Bold;
        font-size: 32px;
        color: #004A80;
        letter-spacing: 0;
    }
    #resultBlock p{
        font-family: HelveticaNeue;
        font-size: 16px;
        color: #000000;
        letter-spacing: 0;
        line-height: 24px;
    }
    #resultBlock a{
        font-family: HelveticaNeue;
        font-size: 16px;
        color: #004A80;
        letter-spacing: 0;
        line-height: 24px;
    }
    #description{
        font-family: HelveticaNeue;
        font-size: 16px;
        color: #000000;
        letter-spacing: 0;
        line-height: 24px;
    }

    #searchBar{
        height: 2.5vw;
        margin-bottom: 2.5vw;
        font-size:0.9em !important
    }
    button{
        height: 9vw;
    }
    .inputPosition{
        padding:30px 15px 15px 13px !important
    }
    
   
}    
@media( max-width:320px ){
    .circle{
        background-color: #004A80;
        width: 16vw !important;
        height: 16vw !important;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .circle p{
        color: #F6BC25 !important;
        font-size: 6vw !important;
        font-family: HelveticaNeue-Bold !important;
        letter-spacing: 0 !important;
        text-align: center;
    }
    .containerBlock{
        max-width: 320px;  
        width: 100%;          
    }
    #content h2{
        font-size: 38px !important;
        line-height: 46px;
        color: #FFFFFF;
        letter-spacing: 0;
        text-align: center;
        padding-left: 15px;
        padding-right: 15px;
        font-size: 12vw !important;
        line-height: 8vh;
    } 
    #content3 h2{
        font-size: 12vw !important;
        line-height: 8vh;
    }
    #content2 .containerBlock h2{
        font-size: 38px !important;
        line-height: 46px;
        
    }
    #content p{
        font-family:HelveticaNeue-Bold; /*HelveticaNeue-Bold*/
        font-size: 18px;
        color:white;
        letter-spacing: 0;
        text-align: center;
        line-height: 23px;
        font-size:5.7vw;
    } 
    #content3 p{
        line-height: 23px !important;
        font-size: 5.7vw !important;
    }
    .content2Tag{
        font-family: HelveticaNeue;        
        color: #4A4A4A;
        letter-spacing: 0;
        font-size: 5.8vw !important;
        line-height: 9.2vw;
    }
    #searchBar{
        width:100%;
        margin-bottom: 5%;
    }    
    button{
        width:100%;
        margin-left: 0 !important;
    }
    #services .service .table .td:first-child{
        vertical-align: top !important;
    }
    #services .service .numbers{
        width: 50px;
        height: 50px;
    }
    #services .service .numbers span{
        font-size: 26px;
        line-height: 40px !important;
        height: 32px;
    }
    #services .service .information h4{
        font-size: 20px;
        font-size: 6.3vw;
    }
    #services .service .information p{
        font-size: 16px;
        line-height: 24px;
        padding-left: 0;
        padding-right: 0;
        font-size: 5.1vw;
        line-height: 7.6vw;
    }
    .numberBlocks{
        vertical-align: top !important;
    }
   
    #services .service{
        width:100%
    }

    #footer .containerBlock .footerInfo{
       width: 100%;
       font-size:15px;
    } 
    
    #footer .containerBlock .bottomLinks{
        width: 100%;
        
    } 
    #leftTable{
        display:none !important
    }

    #content3{
        padding:25px;
    }
    #content3 .table{
        margin: 15px;
    }
    #content3 .table .table2 .td{
        width:100%;
        display: block;
    }
    #content3 .table .td{
        padding-bottom:15px;
        width:100%;
        display: block;
    }
    #leftTable{
        width:100%;
        text-align: center;
    }


    #content3 h2{
        font-family: HelveticaNeue-Bold;
        font-size: 38px;
        color: #004A80;
        letter-spacing: 0;
        text-align: center;
    }
    #resultP{
        margin-bottom:30px;
        font-family: HelveticaNeue;
        font-size: 24px;
        color: #000000;
        letter-spacing: 0;
        text-align: center;
        line-height: 32px;
    }
    #content3 h3{
        font-family: HelveticaNeue-Bold;
        font-size: 32px;
        color: #004A80;
        letter-spacing: 0;
    }
    #content3 h4{
        font-family: HelveticaNeue-Bold;
        font-size: 20px;
        color: #004A80;
        letter-spacing: 0;
    }
    #content3 a{
        font-family: HelveticaNeue;
        font-size: 16px;
        color: #004A80;
        letter-spacing: 0;
        line-height: 24px;
    }
   
    #content3 p{
        font-family: HelveticaNeue;
        font-size: 16px;
        color: #000000;
        letter-spacing: 0;
        line-height: 24px;
        
    }
    #content3 .td p{
        font-family: HelveticaNeue;
        font-size: 18px;
        color: #000000;
        letter-spacing: 0;
        line-height: 26px;
        text-align: left;
    }
    #content3 #resultBlock{
        background: #FFFFFF;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
        border-radius: 30px;
        border-radius: 30px;
    }
    
    .inputPositionHorizontal{
        margin-left:0 !important
    }
    form div label{
        top:25px !important
    }
    #services .service .information {
        padding: 0 0 0 10px !important;
    }
    #searchBar, button{
        height:50px
    }
    button{
        height: 5.5vh;
    }
    #searchBar{
        font-size: 16px;
        line-height: 18px;
        margin-top: 0em;
    }
    .focusText {
        left: 14px;
        top: 12px !important;
        line-height: 1px;
    }

    #services .service .numbers span {
        padding-top: 0.7vh;
    }
    #formHint{
        font-size:calc(0.95em + 0.33vw)
    }   
    
    #resultP{
        font-family: HelveticaNeue;
        font-size: 20px !important;
        color: #4A4A4A;
        letter-spacing: 0;
        line-height: 28px;
    }
    .singleCol h4, .multiCol h4{
        font-family: HelveticaNeue-Bold;
        font-size: 20px !important;
        color: #004A80;
        letter-spacing: 0;
    }
    #fullname{
        font-family: HelveticaNeue-Bold;
        font-size: 9vw !important;
        color: #004A80;
        letter-spacing: 0;
    }
    #resultBlock p{
        font-family: HelveticaNeue;
        font-size: 16px !important;
        color: #000000;
        letter-spacing: 0;
        line-height: 24px;
    }
    #resultBlock a{
        font-family: HelveticaNeue;
        font-size: 16px !important;
        color: #004A80;
        letter-spacing: 0;
        line-height: 24px;
    }
    #description{
        font-family: HelveticaNeue;
        font-size: 16px !important;
        color: #000000;
        letter-spacing: 0;
        line-height: 24px;
    }
    #rightTable div{
        width:100%
    }
    .left{
        width:20%
    } 
    .right{
        width:80%
    } 
}

@media( max-width:290px ){
    #content h2{
        font-size: 25px !important;
        line-height: 35px !important;
    }
    #content2 .containerBlock h2{
        font-size: 25px !important;
        line-height: 35px !important;
    }
    .left{
        display:none;
    }
    .right{
        width:100%
    }
}    
/* Responsive design ends */


